@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Science+Gothic:wght@100..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Science+Gothic:wght@100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    Scrollbar-width: none;
    height: 100%;
}

a:hover {
    display: inline-block;
    animation: pulsar1 3s infinite;
}

.conteudo-header {
    color: #F5FAFF;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-bottom: 3px solid #F5FAFF;
}

.conteudo-header-left {
    color: #F5FAFF;
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 800px;
    font-style: italic;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.hoody-header {
    align-self: flex-start;
    font-size: 40px;
}

.bot-header {
    align-self: flex-end;
    font-size: 20px;
}

.conteudo-header-right {
    font-style: italic;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.anchor-header {
    color: #F5FAFF;
}

.section-secundaria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(images/Backgroudc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F5FAFF;
}

.comandos-all {
    padding-bottom: 12px;
    padding-top: 24px;
}

.divisoes-titulo {
    color: #F5FAFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
    font-family: "Oswald", sans-serif;
}

.comandos-div {
    color: #F5FAFF;
    display: flex;
    flex-direction: column;
    border: 3px solid #0082ff;
    border-radius: 32px;
    background-color: rgba(25, 25, 25, 0.8);
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    padding: 12px;
    margin: 32px 128px;
}

.comandos-ex {
    color: #F5FAFF;
    display: flex;
    flex-direction: column;
    border: 3px solid #0082ff;
    border-radius: 200px;
    background-color: rgba(130, 130, 130, 0.5);
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    padding: 12px;
    margin: 8px;
}

@keyframes pulsar1 {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes pulsar2 {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}